[submodule "submodules/HoloEverywhere"]
	path = submodules/HoloEverywhere
	url = git://github.com/ChristopheVersieux/HoloEverywhere.git
[submodule "submodules/facebook-android-sdk"]
	path = submodules/facebook-android-sdk
	url = git://github.com/facebook/facebook-android-sdk.git
[submodule "submodules/Faye-Android"]
	path = submodules/Faye-Android
	url = git@github.com:IOMUSE/Faye-Android.git
[submodule "submodules/UrlImageViewHelper"]
	path = submodules/UrlImageViewHelper
	url = git://github.com/koush/UrlImageViewHelper.git
